
# Sandobox-specific
/webapp-planner-placeholder/

# Misc

TODO*.md
TODO*.pdf

# Maven
*/target/
*/overlays/

# Acceleo
*.lost

# Eclipse
*/bin/
.project
.classpath
*/.settings/

# Intellij
.idea/
*.iml

# Python
*/venv/
*.pyc

# OS
.DS_Store
*.tmp
*.bak
*.swp
*~.nib
*~
