# Sandobox-specific
/webapp-planner-placeholder/

# Maven
*/target/
*/overlays/

# Acceleo
*.lost

# Eclipse
*/bin/
.project
.classpath
*/.settings/

# Intellij
.idea/
*.iml

# OS
.DS_Store
*.tmp
*.bak
*.swp
*~.nib
*~