[project]
	description = Safely Connected and Trusted Objects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrew Berezovskyi (berezovskyi)
[access "refs/for/refs/*"]
	read = group user/Andrew Berezovskyi (berezovskyi)
	push = group user/Andrew Berezovskyi (berezovskyi)
	label-Code-Review = -2..+2 group user/Andrew Berezovskyi (berezovskyi)
	label-Verified = -1..+1 group user/Andrew Berezovskyi (berezovskyi)
	rebase = group user/Andrew Berezovskyi (berezovskyi)
	removeReviewer = group user/Andrew Berezovskyi (berezovskyi)
	submit = group user/Andrew Berezovskyi (berezovskyi)
[access "refs/heads/*"]
	read = group user/Andrew Berezovskyi (berezovskyi)
	create = group user/Andrew Berezovskyi (berezovskyi)
	push = +force group user/Andrew Berezovskyi (berezovskyi)
	pushMerge = group user/Andrew Berezovskyi (berezovskyi)
[access "refs/tags/*"]
	push = group user/Andrew Berezovskyi (berezovskyi)
	push = +force group user/Andrew Berezovskyi (berezovskyi)
