<launch>
    <arg name="robot_name" default="turtlebot2i"/>
    <arg name="output" default="screen"/>

    <include file="$(find turtlebot2i_safety)/launch/risk_assessment.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="output" value="$(arg output)"/>
    </include>

    <node name="risk_mitigation" pkg="turtlebot2i_safety" type="risk_mitigation_fls.py" ns="$(arg robot_name)"
          output="$(arg output)"/>
</launch>