<?xml version="1.0"?>
<launch>
<!-- MAP  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot2i_mapping)/maps/map.yaml">
    <param name="frame_id" value="map"/>
  </node>
<!-- Robot  navigation -->

 <include file="$(find turtlebot2i_safety)/launch/turtlebot2i_navigation_multiple_base.launch">
    <arg name="robot_name" value="turtlebot2i"/>
    <arg name="moveit" value="false"/>    
  </include>
<!-- Second Robot  -->
<!-- 
  <include file="$(find turtlebot2i_navigation)/launch/turtlebot2i_navigation_multiple_base.launch">
    <arg name="robot_name" value="turtlebot2i_0"/>
    <arg name="moveit" value="false"/>
  </include>
-->

<!-- RVIZ  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot2i_navigation)/rviz/navigation_single_robot.rviz" />
    
</launch>
