gym~=0.16.0
numpy~=1.16.6
rospy~=1.14.10
matplotlib~=2.2.5
argparse~=1.2.1
tqdm~=4.53.0
Keras~=2.2.4
tensorflow~=1.13.1
keras-rl~=0.4.2
actionlib~=1.12.1
tf~=1.12.1
opencv-python~=4.2.0.32
Pympler~=0.9
seaborn~=0.9.1