<launch>
    <arg name="robot_name" default="turtlebot2i"/>
    <arg name="throughput" default="True"/>

    <rosparam command="load" file="$(find turtlebot2i_edge)/config/network.yaml" ns="/"/>

    <node name="network_monitor" pkg="turtlebot2i_edge" type="network_monitor.py" ns="$(arg robot_name)"
          output="screen">
        <remap from="edge/stamp" to="/edge/stamp"/>
        <param name="throughput" type="bool" value="$(arg throughput)"/>
    </node>
</launch>