<launch>
    <arg name="robot_name" default="turtlebot2i"/>
    <arg name="throughput" default="True"/>

    <rosparam command="load" file="$(find turtlebot2i_edge)/config/network.yaml" ns="/"/>

    <group ns="$(arg robot_name)">
        <remap from="edge/stamp" to="/edge/stamp"/>

        <group if="$(arg throughput)">
            <node name="network_monitor" pkg="turtlebot2i_edge" type="network_monitor.py" output="screen"/>
        </group>

        <group unless="$(arg throughput)">
            <node name="network_monitor" pkg="turtlebot2i_edge" type="network_monitor.py" args="--no-throughput"
                  output="screen"/>
        </group>
    </group>
</launch>