<launch>
    <rosparam command="load" file="$(find turtlebot2i_edge)/config/mec_server.yaml"/>

    <node pkg="turtlebot2i_edge" name="ns3_wifi_adhoc" type="ns3_wifi_adhoc" output="screen">
        <remap from="odom0" to="/turtlebot2i/odom"/>
    </node>

    <include file="$(find turtlebot2i_navigation)/launch/turtlebot2i_navigation_single.launch"/>
</launch>