<launch>
    <node name="ns3_wifi_adhoc" pkg="turtlebot2i_edge" type="ns3_wifi_adhoc" output="screen">
        <rosparam command="load" file="$(find turtlebot2i_edge)/config/mec_server.yaml"/>
        <param name="robots/n" type="int" value="1"/>
        <remap from="odom_0" to="/turtlebot2i/odom"/>
    </node>

    <include file="$(find turtlebot2i_navigation)/launch/turtlebot2i_navigation_single.launch"/>
</launch>