<launch>
    <arg name="robot_name" default="turtlebot2i"/>
    <arg name="agent" default="dqn"/>
    <arg name="mode" default="train"/>

    <rosparam command="load" file="$(find turtlebot2i_edge)/config/pick_and_place.yaml" ns="/"/>

    <include file="$(find turtlebot2i_navigation)/launch/turtlebot2i_navigation_single.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <include file="$(find turtlebot2i_scene_graph)/launch/scene_graph_generator.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="vrep_host" value="global"/>
        <arg name="vrep_port" value="20001"/>
        <arg name="mode" value="service"/>
    </include>

    <group ns="$(arg robot_name)">
        <node name="scene_graph_proxy" pkg="turtlebot2i_edge" type="scene_graph_proxy.py" output="screen">
            <rosparam command="load" file="$(find turtlebot2i_edge)/config/model_edge.yaml"/>
        </node>

        <node name="risk_assessment" pkg="turtlebot2i_safety" type="risk_assessment.py" output="screen"/>

        <node name="task_offloading" pkg="turtlebot2i_edge" type="task_offloading.py" output="screen">
            <rosparam command="load" file="$(find turtlebot2i_edge)/config/rl.yaml"/>

            <param name="agent" type="str" value="$(arg agent)"/>
            <param name="mode" type="str" value="$(arg mode)"/>

            <param name="vrep/host" type="str" value="global"/>
            <param name="vrep/port" type="int" value="20002"/>
            <param name="rl/models/path" type="str" value="$(find turtlebot2i_edge)/models"/>

            <remap from="robot/generate_scene_graph" to="generate_scene_graph_proxy"/>
            <remap from="edge/generate_scene_graph" to="/edge/$(arg robot_name)/generate_scene_graph_proxy"/>
            <remap from="edge/stamp" to="/edge/stamp"/>
        </node>
    </group>
</launch>