<launch>

  <arg name="config_file" default="$(find base_robot)/param/turtlebot2i_cmd_vel_mux.yaml"/>

  <node name="turtlebot2i_cmd_vel_mux" pkg="base_robot" type="turtlebot2i_cmd_vel_mux" output="screen">
    <param name="yaml_cfg_file" value="$(arg config_file)"/>
  </node> 

  <node name="turtlebot2i_safety_controller" pkg="base_robot" type="turtlebot2i_safety_controller">
    <remap from="turtlebot2i_safety_controller/events/bumper"     to="/vrep_ros_interface/turtlebot2i/events/bumper"/>
    <remap from="turtlebot2i_safety_controller/events/cliff"      to="/vrep_ros_interface/turtlebot2i/events/cliff"/>
    <remap from="turtlebot2i_safety_controller/events/wheel_drop" to="/vrep_ros_interface/turtlebot2i/events/wheel_drop"/>
  </node>

  <node pkg="kobuki_keyop" type="keyop" name="keyop" output="screen">
    <remap from="keyop/motor_power" to="/vrep_ros_interface/turtlebot2i/commands/motor_power"/>
    <!--<remap from="keyop/cmd_vel" to="/vrep_ros_interface/turtlebot2i/commands/velocity"/>-->
    <param name="linear_vel_step"  value="0.05" type="double"/>
    <param name="linear_vel_max"   value="1.5"  type="double"/>
    <param name="angular_vel_step" value="0.33" type="double"/>
    <param name="angular_vel_max"  value="6.6"  type="double"/>
    <param name="wait_for_connection_" value="true" type="bool"/>
  </node>
</launch>

