
<launch>
  <!--
  <node name="turtlebot2i_safety_controller" pkg="base_robot" type="turtlebot2i_safety_controller" output="screen">
    <remap from="/turtlebot2i_safety_controller" to="/vrep_ros_interface/turtlebot"/> 
  </node>
  -->

  <node name="turtlebot2i_safety_controller" pkg="base_robot" type="turtlebot2i_safety_controller" output="screen">
    <remap from="turtlebot2i_safety_controller/events/bumper"     to="/vrep_ros_interface/turtlebot2i/events/bumper"/>
    <remap from="turtlebot2i_safety_controller/events/cliff"      to="/vrep_ros_interface/turtlebot2i/events/cliff"/>
    <remap from="turtlebot2i_safety_controller/events/wheel_drop" to="/vrep_ros_interface/turtlebot2i/events/wheel_drop"/>
    <remap from="turtlebot2i_safety_controller/cmd_vel" to="/vrep_ros_interface/turtlebot2i/commands/velocity"/>
  </node>

</launch>
