<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot2i_description)/launch/turtlebot2i_description.launch">
    <arg name="robot_name" value="turtlebot2i"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find turtlebot2i_description)/rviz/turtlebot2i_single_robot.rviz" />

</launch>
